body{
    background-color: #fff8f4;
}
p{
    font-family: 'Old Standard TT', serif;
}
h1{
    font-family: 'Abril Fatface', cursive;
}
h2{
    font-family: 'Bebas Neue', cursive;
}
.bg-white {
    background: green !important;
    transition: 1.5s ease-in;
  }
  
  .bg-white.scrolled {
    background: red !important;
  }
  #tezt{
    font-size: 500px;
  }