body{
    background-color: #fff8f4;
    margin: 0;
}
p{
    font-family: 'Old Standard TT', serif;
}
h1{
    font-family: 'Abril Fatface', cursive;
}
h2{
    font-family: 'Bebas Neue', cursive;
}


.nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    overflow: hidden;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
  }
li{
    float: left;
}
li a:hover {
    background-color: #ffe7b8;
    color: black;
  }
.newNav{
    background-color: #f69ca9 !important;
}
.oldNav{
    background-color: none;
}