body{
    background-color: #fff8f4;
    margin: 0;
}
p{
    font-family: 'Old Standard TT', serif;
    font-size:115%;
}
h1{
    font-family: 'Abril Fatface', cursive;
}
h2{
    font-family: 'Bebas Neue', cursive;
}
h4{
    font-family: 'Bebas Neue', cursive;
}
.card-text{
    font-family: 'Old Standard TT', serif;
}

.nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    overflow: hidden;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
  }
li{
    float: left;
}
li a:hover {
    background-color: #ffe7b8;
    color: black;
  }
.newNav{
    background-color: #f69ca9 !important;
}
.oldNav{
    background-color: none;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
  }
  .web-link{
    color: black;
    text-decoration: none;
  }
  .web-link:hover{
    color: #ed0479;
  }
  .port{
    font-size: 70px;
  }
  #footer{
    background-color: #ffe7b8;
  }